<div class="location-list">
    {{#each locations as |location|}}
    <a href="/api/locations/{{location.id}}">
        <div id="locationCard">
            <h1 id="locationName">{{location.location_name}}</h1>
            <h2 id="cityName">{{location.city}}</h2>
            <p id="locationDescription">{{location.description}}</p>
        </div>
    </a>
    {{/each}}
</div>