<div class="location-list">
    {{#each locations as |location|}}
    <div id="locationCard">
    <h1 id="locationName">{{location.location_name}}</h1>
    <p id="locationDescription">{{location.description}}</p>
    </div>
    {{/each}}
</div>