<div>
    <div class="location-header">
        <h1>{{locationDisplay.location_name}}</h1>
    </div>
    <div class="location-description">
        <p>{{locationDisplay.description}}</p>
    </div>
    <div class="location-image">
        <img></img>
    </div>
    <div class="location-tags">
    </div>
    <div class="location-reviews">
        <div class="field">
            <button onclick="location.href = '/reviewCreate/{{locationDisplay.id}}'" class="button">Create new review</button>
        </div>
    </div>
</div>