<form class="container search-form">
    <div class="field">
        <label class="label">Search by location name</label>
        <div class="control">
            <input class="input" type="text" id="name-search" placeholder="name">
        </div>
    </div>
    <div class="field">
        <button class="button" id="searchBtn" type="submit">Search</button>
    </div>
</form>

<script src="./js/locationSearch.js"></script>