<form class="container location-create-form">
    <div class="field">
        <label class="label">Location Name</label>
        <div class="control">
            <input class="input" type="text" id="location-title" placeholder="Title">
        </div>
    </div>
    <div class="field">
        <label class="label" id="descriptionBlock">City Name</label>
        <div class="control">
            <input class="input" type="text" id="location-city" placeholder="City"></input>
        </div>
    </div>
    <div class="field">
        <label class="label" id="descriptionBlock">Description</label>
        <div class="control">
            <textarea class="textarea" type="text" id="location-description" placeholder="Description"></textarea>
        </div>
    </div>
    <div class="field">
        <button class="button" id="create" type="submit">Create</button>
    </div>
</form>

<script src="./js/locationCreate.js"></script>