<form class="container search-form">
    <div class="field">
        <label class="label">Search by City Name</label>
        <div class="control">
            <input class="input" type="text" id="name-search" placeholder="city">
        </div>
    </div>
    <div class="field">
        <button class="button" id="searchBtn" type="submit">Search</button>
    </div>
</form>

<div class = "results-field">
    {{#each locationsList as |location|}}
    <a href="/api/locations/{{location.id}}"><div id="locationCard">
    <h1 id="locationName">{{location.location_name}}</h1>
    <h2 id="cityName">{{location.city}}</h2>
    <p id="locationDescription">{{location.description}}</p>
    </div>
    </a>
    {{/each}}
</div>

<script src="/js/locationSearch.js"></script>