<form class="container location-create-form">
    <div class="field">
        <label class="label">Location Name</label>
        <div class="control">
            <input class="input" type="text" id="location-title" placeholder="Title">
        </div>
    </div>
    <div class="field">
        <label class="label" id="descriptionBlock">Description</label>
        <div class="control">
            <textarea class="textarea" type="text" id="location-description" placeholder="Type your review here"></textarea>
        </div>
    </div>
    <div>
        <button class="button" id="image-upload">Upload image</button>
    </div>
    <div class="field">
        <button class="button" id="create" type="submit">Create</button>
    </div>
</form>

<script src="./js/locationCreate.js"></script>