<h2 id="loginTitle">Login</h2>

<section class="section is medium">

<form class="form login-form">
  <div class="form-group">
    <label class="label" for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login"  placeholder="email"/>
  </div>
  <div class="form-group">
    <label class="label" id="passwordLabel" for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login"  placeholder="*********"/>
  </div>
  <div class="form-group">
    <button class="button" id="loginBtn" type="submit">login</button>
  </div>
</form>

<div>
  <br>
  <p>Don't have a user account? <a href="/signup">Sing up here</a>.</p>
</div>

</section>

<script src="/js/login.js"></script>
