<section class="section">
    <h2 class="subtitle">No Reviews Found!</h2>
    <p>There are no reivews posted for this location yet.</p>
    <p><a href="/reviewCreate/{{location_id}}">Post the first review!</a></p>
</section>
